@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
:root {
  --font-color: #eee;
  --font-color-dark: #aaa;
  --border-color: rgba(34, 34, 34, 0.63);
  --background-light: #1f1f1f6c;
  --cream: #ece9ce;
  --background: #a5b3d6;
  --backgroun-contact:  #af46af;
}
html {
  box-sizing: border-box;
  font-size: 10px;
}
body {
  background: var(--background);
  overflow-x: hidden;
  margin:  0;
}
header{
  position: fixed;
  width: 100%;
  min-height: 3vh;
  max-height: 4vh;
  padding-bottom: 15px;
  background: var(--cream);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  translate: 0px -2.8vh;
}
h2{
  color: mediumpurple;
  font-size: 5rem;
}
.tabs{
  color: purple;
  font-size: 2.5rem;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.active{
  color: rgb(161, 0, 27);
}
li {
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  font-weight: bold;
  transition: 0.3s ease;
  cursor: pointer;
}
li:hover {
  color: pink;
}
#home{
  font-family: 'Fredoka One', cursive;
  display: flex;
  height: 100vh;
  padding-left: 15%;
  padding-right: 15%;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background: url(./img/burgerFlipHome.jpg) no-repeat center center fixed;
  background-size: cover;
}
#home h1{
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(66, 5, 5, 0.9);
  font-size: 6rem;
  text-shadow: 1px 1px 1px var(--cream);
}
#home p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 900;
  color: rgb(116, 0, 0);
  font-size: 3rem;
  text-shadow: 1px 1px 1px var(--cream);
}

#contact{
  display: flex;
  position: fixed;
  font-family: 'Fredoka One', cursive;
  background: var(--backgroun-contact);
  align-items: center;
  font-size: 30px;
  translate: -50% -50%;
  left: 50%;
  top: 50%;
  flex-direction: column;
  height: 70%;
  width: 700px;
  border-radius: 30px;
}
#menu{
  display: flex;
  position: fixed;
  font-family: 'Sans-serif', cursive;
  background: var(--backgroun-contact);
  font-size: 10px;
  translate: -50% -50%;
  left: 50%;
  top: 50%;
  flex-direction: column;
  padding: 30px;
  height: 70%;
  width: 80rem;
  border-radius: 30px;
}
#menu img {
  width: calc(5rem + 8vw);
  height: calc(5rem + 8vw);
  max-width: 120px;
  max-height: 120px;
  border-radius: 30px;
  grid-area: img;
}
#menu h1 {
  height: 20px;
  width: 40rem;
  font-size: 20px;
  grid-area: title;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed black;
}
#menu h2 {
  height: 20px;
  font-size: 20px;
  color:rgb(116, 0, 0);
  grid-area: price;
  padding-bottom: 10px;
}
#menu p {
  height: 90px;
  font-size: 18px;
  margin: 0px;
  padding-left: 10px;
  top: 0px;
  grid-area: desc;
}
.menuItem{
  display: grid;
  grid-template-areas:
    'img title price'
    'img desc desc';
  width: 80%;
  height: 150px;
  margin: 20px;
}
a{
  color:white;
  font-size: 20px;
  font-weight: 500;
  text-shadow: -1px 1.5px 0px rgba(0, 0, 0, 0.4);
}
footer{
  display: flex;
  background-color: var(--border-color);
  width: 100%;
  height: 35px;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 0;
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.95);
  text-shadow: -1px 1.5px 0px rgba(0, 0, 0, 0.4);
  border-top: 1px solid var(--border-color);
}
